.container{
    padding: 20px;
}
.lists{
    display: flex;
}
.lists div{
    margin: 10px;
    padding: 5px;
}
.naughtyList{
    background-color: #ff9999;
}
.niceList{
    background-color: #99ff99;
}